{% extends "base.html" %}
{% block title %} Admin {% endblock %}

{% block content %} 
<main> 
    <section class="section-padding">
        <h3 class="display-4 mb-5">Manage Users</h3> 
        <div class="table-design bt-5">
            
            <div class="table-design-header">
                <p class="lead" style="font-weight: 500;">
                    List of all users:
                </p>
                <button type="button" class="btn btn-outline-dark" style="height: 38px;" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Pending Users 
                </button> 
            </div>
            <!-- Modal -->
            <div class="modal modal-custom fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content modal-content-custom ">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">All Pending Users:</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body modal-body-custom">
                            <div class="bt-5">  
                                    {% if not pending_users %}
                                    <h1 class="display-6">No Pending users!</h1>
                                    {% else %}
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">ID</th>
                                                    <th scope="col">Username</th>
                                                    <th scope="col">Email</th>
                                                    <th scope="col">Role</th>
                                                    <th scope="col">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for pending_user in pending_users %}
                                                <tr>
                                                    <td>{{pending_user.id}}</td>
                                                    <td>{{pending_user.name}}</td>
                                                    <td>{{pending_user.email}}</td>
                                                    <td>{{pending_user.role}}</td>
                                                    <td>
                                                        <div class="actions">  
                                                            <a class="icon-buttons btn btn-outline-dark" href="/admin/update_user/{{pending_user.id}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table> 
                                    </div>
                                {% endif %}
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
            <!-- END Modal -->

           <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>
                        <th scope="col">Role</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{user.id}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.role}}</td>
                        <td> 
                            <a class="icon-buttons btn btn-outline-dark" href="/admin/update_user/{{user.id}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> 
                        </td>
                    </tr>
                    {% endfor %} 
                </tbody>
            </table> 
           </div>

        </div>
    </section> 
</main>
{% endblock %}