{% extends "base.html" %}
{% block title %} Admin {% endblock %}

{% block content %} 
<main> 
    <section class="section-padding">
        <h3 class="display-4 mb-5">Manage Users</h3> 
        <div class="table-design bt-5">
            
            <div class="table-design-header">
                <p class="lead" style="font-weight: 500;">
                    List of all users:
                </p>
                <button type="button" class="btn btn-outline-dark" style="height: 38px;" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Pending Users 
                </button> 
            </div>
            <!-- Modal -->
            <div class="modal modal-custom fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content modal-content-custom ">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">All Pending Users:</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body modal-body-custom">
                            <div class="bt-5">  
                                    {% if not pending_users %}
                                    <h1 class="display-6">No Pending users!</h1>
                                    {% else %}
                                    <!-- table -->
                                    <div class="table-responsive-vertical shadow-z-1">
                                        <!-- Table starts here -->
                                            <table id="table" class="table table-hover table-mc-light-blue">
                                                <thead>
                                                    <tr>
                                                        <th>User ID</th>
                                                        <th>User Name</th>
                                                        <th>Email</th>
                                                        <th>Role</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for pending_user in pending_users %}
                                                    <tr>
                                                        <td data-title="User ID">{{pending_user.id}}</td>
                                                        <td data-title="User Name">{{pending_user.name}}</td>
                                                        <td data-title="Email">{{pending_user.email}}</td>
                                                        <td data-title="Role">{{pending_user.role}}</td>
                                                        <td data-title="Actions">
                                                            <a class="icon-buttons btn btn-outline-dark" href="/admin/update_user/{{pending_user.id}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> 
                                                        </td>
                                                    </tr>
                                                    {% endfor %} 
                                                </tbody>
                                            </table>              
                                    </div> 
                                    <!-- table end -->
                                {% endif %}
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
            <!-- END Modal --> 
            <!-- table -->
            <div class="table-responsive-vertical shadow-z-1">
                <!-- Table starts here -->
                    <table id="table" class="table table-hover table-mc-light-blue">
                        <thead>
                            <tr>
                                <th>User ID</th>
                                <th>User Name</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %} 
                            <tr>
                                <td data-title="User ID">{{user.id}}</td>
                                <td data-title="User Name">{{user.name}}</td>
                                <td data-title="Email">{{user.email}}</td>
                                <td data-title="Role">{{user.role}}</td>
                                <td data-title="Actions">
                                    <a class="icon-buttons btn btn-outline-dark" href="/admin/update_user/{{user.id}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> 
                                </td>
                            </tr>
                            {% endfor %} 
                        </tbody>
                    </table>              
            </div> 
            <!-- table end -->

        </div>
    </section> 
</main>
{% endblock %}