{% extends "base.html" %}
{% block title %} Manage Subjects {% endblock %}

{% block content %} 
<main> 
    <section class="section-padding">
        <h1 class="display-4 mb-5">Welcome, {{ user.name }}</h1> 
        <div class="table-design bt-5">
            <div class="table-design-header">
                <p class="lead" style="font-weight: 500;">
                    List of all Subjects: 
                </p>
                <a class="btn btn-outline-success mb-3" href="/manager/create-subject">Create Subject</a>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Subject</th> 
                        <th scope="col">About this Subject</th> 
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for subject in subjects %}
                    <tr>
                        <th scope="row">{{subject.id}}</th>
                        <td>{{subject.name}}</td> 
                        <td>{{subject.about}}</td>  
                        <td>
                            <div class="actions">  
                                <a class="btn icon-buttons btn-outline-success" href="/manager/update-subject/{{subject.id}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> 
                            </div>
                        </td>
                    </tr>
                    {% endfor %} 
                </tbody>
            </table>
        </div>

    </section> 
</main>
{% endblock %}