{% extends "base.html" %}
{% block title %} Update Subject {% endblock %}

{% block content %} 

<main>

    <section class="sign-in-form section-padding">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 mx-auto col-12">

                    <h1 class="hero-title text-center mb-5">Update Subject</h1>  

                    <div class="row">
                        <div class="col-lg-8 col-11 mx-auto">
                            <form method="POST">
                                <div class="form-floating">
                                    <input type="text" name="name" id="name" class="form-control" placeholder="Enter Subject Name" value="{{subject.name}}" >
                                    <label for="name">Subject Name</label>
                                </div> 

                                <div class="form-floating my-4">
                                    <input type="text" name="about" id="name" class="form-control" placeholder="Enter About" value="{{subject.about}}">
                                    <label for="name">About Subject</label>
                                </div>   

                                <button type="submit" class="btn custom-btn form-control mt-4 mb-3">
                                    Update
                                </button>  
                                <a class="btn btn-outline-danger custom-btn form-control user_delete_btn" href="/manager/delete-subject/{{subject.id}}">Delete</a> 
                            </form>
                        </div>
                    </div>
                    
                </div>

            </div>
        </div>
    </section>

</main>

{% endblock %}