{% extends "base.html" %}
{% block title %} Update Subject {% endblock %}

{% block content %} 

<main>

    <section class="sign-in-form section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto col-12">
                    <h1 class="hero-title text-center mb-5">Update Subject</h1>  
                    <div class="row">
                        <div class="col-lg-8 col-11 mx-auto">
                            <form method="POST">
                                {{ form.csrf_token() }}
                                <div class="form-floating"> 
                                        {% if form.subject_name.errors %}
                                        {{ form.subject_name(class="form-control form-control-lg is-invalid")}} 
                                        <div class="invalid-feedback">
                                            {% for error in form.subject_name.errors %}
                                            <span>{{error}}</span>
                                            {% endfor %}    
                                        </div> 
                                        {% else %}
                                        {{ form.subject_name(class="form-control", placeholder="Subject Name", value=subject.name) }} 
                                        {% endif %}
                                        {{ form.subject_name.label }} 
                                </div> 
                                <div class="form-floating my-4"> 
                                    {% if form.subject_about.errors %}
                                    {{ form.subject_about(class="form-control form-control-lg is-invalid")}} 
                                    <div class="invalid-feedback">
                                        {% for error in form.subject_about.errors %}
                                        <span>{{error}}</span>
                                        {% endfor %}    
                                    </div> 
                                    {% else %}
                                    {{ form.subject_about(class="form-control", placeholder="Subject About", value=subject.about) }} 
                                    {% endif %}
                                    {{ form.subject_about.label }}
                                </div>    
                                {{ form.submit(class="btn custom-btn form-control mt-4 mb-3", value="Update") }} 
                                <a onclick="confirmation(event)" class="btn btn-outline-danger custom-btn form-control user_delete_btn" href="/manager/delete-subject/{{subject.id}}">Delete</a> 
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>

{% endblock %}