{% extends "base.html" %}
{% block title %} Home {% endblock %}

{% block content %} 
<main> 
  <section class="section-padding">
    <div class="container">
        <div class="row"> 
            <div class="col-md-6">  
                <h1 class="display-6 greeting">Welcome to online quiz!</h1> 
                <p class="lead mt-4"> 
                    Take quizes online for free, as many as you want, and test your knowledge skills for over a hundred subjects which you can select to test your skills. 
                </p>    
            </div>
            <div class="col-md-6 container-for-svg">
                <img class="img-thumbnail" src="{{ url_for('static', filename='/icons/exam.svg') }}" alt=""> 
            </div> 
        </div>
    </div>
</section> 
</main>
{% endblock %}