body {
    background: #e5e5e542;
}

.img-thumbnail{
    border: none !important;
    background-color: #e5e5e500;
  }
  
  .p {
    color: #4a4646 !important;
      font-weight: 300 !important;
  }
  
  .greeting {
      font-weight: 500;
      text-align: -webkit-match-parent;
      text-transform: capitalize;
      font-size: 5rem;
      font-family: inherit;
  }
  
  .container-for-svg {
      display: flex;
      justify-content: center;
      align-items: baseline;
  }
  
  .svgs {
    position: absolute;
    opacity: 0.5;
    height: 112px;
  }
  
  .question_mark{
    left: 38%;
    bottom: 24%;
    transform: rotate(-6deg);    
  }
  
  .searching{
    top: 29%;
    left: 9%;
    transform: rotate(6deg);
  }

.message_area{
    position: absolute;
      top: 88px;
      right: 0;
      left: 0;
      text-align: center;
  }
  
  .signup {
    margin-right: 0 !important;
  } 
  
  .user_delete_btn {
    background-color: red !important;
  }
  
  .course-container {
    width: 41%; 
    height: auto; 
    padding: 20px; 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  } 
  
  .course-area {
    border: solid 1px silver;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    height: auto;
    padding: 20px 0px;
  }
  
  .quiz-container {
    background: white;
    border-radius: 10px;
    padding: 30px;
    height: 65vh;
    overflow: scroll;
    overflow-x: auto;
  }
  
  .question-choice {
      list-style: lower-alpha !important;
      padding-left: 15px;
      margin-bottom: 3px;
  }
  
  #style-1::-webkit-scrollbar-track
  {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      border-radius: 10px;
      background-color: #F5F5F5;
  }
  
  #style-1::-webkit-scrollbar
  {
      width: 12px;
      background-color: #F5F5F5;
  }
  
  #style-1::-webkit-scrollbar-thumb
  {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      background-color: #555;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    display: inline-block !important;
    padding: 0;
    margin-right: 0.5rem !important;
    margin-left: 1rem !important;
}

.table-design{
  border: solid 0.5px #cfcfcf6e;
  padding: 40px;
  border-radius: 13px;
  background: white;
  box-shadow: rgb(17 17 26 / 5%) 0px 1px 0px, rgb(17 17 26 / 10%) 0px 0px 8px;
}

.table-design-header{ 
  display: flex;
  justify-content: space-between; 
  margin-bottom: 10px;
}

.icon-buttons {
    border: none;
    width: 50px;
    font-size: 21px;
    padding: 0px;
}


.portal-controls-area { 
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
}

.portal-control {
  margin: 5px;
  height: 320px;
  box-shadow: rgb(0 0 0 / 21%) 0px 5.6px 9.6px 0px, rgb(0 0 0 / 11%) 0px 0.3px 0.9px 0px;
  padding: 32px 16px;
  text-align: center;
  transition: all 0.1s;
  overflow: hidden;
  background: white;
  width: 314px;
  border-radius: 5px;
}

.portal-control:hover{
  transform: scale(1.03);
}

.control-hint{
  color: black;
  font-size: 15px;
}

.control-link, .nav-edit-link, .control-link:hover {
  color: #0078d4;
  font-size: 13px;
}

.control-link:hover, .nav-edit-link:hover{
    text-decoration: underline;
}

.fa-arrow-right {
  margin-left: 5px;
}

.navbar {
  padding: 25px !important;
}

.modal-dialog {
  max-width: 800px;
}

td, th {
  white-space: nowrap;
  white-space: nowrap;
}