{% extends "base.html" %}
{% block title %} Manage Your Subjects {% endblock %}

{% block content %} 
<main> 
    <section class="section-padding">
        <h3 class="display-4 mb-5">Course Selection</h3> 
        <div class="bt-5">
            <p class="lead" style="font-weight: 500;">
                Below are the courses offered:  
            </p>  
                
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Course</th> 
                            <th scope="col">About</th>   
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for subject in subjects %}
                        {% if not subject in current_user.subjects %} 
                        <tr>
                            <th scope="row">{{subject.id}}</th>
                            <td>{{subject.name}}</td> 
                            <td>{{subject.about}}</td>   
                            <td>
                                <div class="actions">  
                                    <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                                        <a class="btn btn-success" href="enrol/{{subject.id}}/{{current_user.id}}">Enroll</a> 
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table> 
            </form> 
        </div>

    </section> 
</main>
{% endblock %}